@import 'reset.css';
@import 'nav.css';
@import 'story.css';
@import 'feed.css';
@import 'recommendation.css';

/* Global */
:root {
  /* Color */
  --color-light-grey: #fafafa;
  --color-blue: #0095f6;
  --color-grey: rgba(219, 219, 219, 1);

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  --border: 1px solid var(--color-grey);

  /* Size */
  --img-size-lg: 56px;
  --img-size-s: 32px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  background-color: var(--color-light-grey);
  height: 1000vh;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  width: 56px;
  height: 56px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: none;
}


/* 전체적인 구조 */

main {
  width: 935px;
  position: relative;
  top: 60px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  height: auto;
}

.main__left {
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
  z-index: -1;
}

.main__right {
  left: 890px;
  position: sticky;
  top: 100px;
  top: cal(34px+ 60px);
  max-width: 293px;
  width: 100%;
  padding: 0px 0px 30px;
  height: 100vh;
  z-index: -1;
}


/* media queries */

/* 실제 인스타그램처럼 미디어쿼리로 사라지는 max-width 맞추었고 */
/* 그이후에 main__left가 계속 중간에 있어야 하는데 안그래서 그러도록 맞추었어요 */
@media only screen and (max-width: 1000px) {
  .main__right {
    display: none;
  }
  main {
    width: 100%;
    justify-content: center;
  }
}
