<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Codingstagram</title>
    <link rel="icon" type="image/png" href="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico"/>
    <!--    구글 머티리얼-->

    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    {#    boot strap #}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:wght@100&display=swap"
          rel="stylesheet"/>


    <!--    CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static './content/css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static './content/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static './content/css/nav.css' %}"/>
    <link rel="stylesheet" href="{% static './content/css/modal.css' %}"/>
    {#    <link rel="stylesheet" href="{% static './content/css/story.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static './content/css/recommendation.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static './content/css/feed.css' %}"/>#}

    <!-- fontawsome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Font Awesome script-->
    {% load static %}
    <script src="{% static './content/js/all.js' %}" defer></script>
    <script src="{% static './content/js/nav.js' %}" defer></script>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% load static %}
    <script src="{% static './content/js/modal.js' %}" defer></script>

</head>
<body>

<!-- nav -->
<nav class="nav">
    <div class="nav__logo">
        <a href="{% url 'content:main' %}">Codingstagram</a>
    </div>
    <div class="nav__search-bar">
        <span class="search-bar__glass"><i class="fas fa-search"></i></span>
        <span class="search-bar__cross"><i class="fas fa-times-circle"></i></span>
        <input class="search-input" type="text" placeholder="검색"/>
    </div>
    <div class="nav__list">
        <ul>
            <li>
                <a href="#"><i class="fas fa-home"></i></a>
            </li>
            <li>
                <a href="#"><i class="far fa-paper-plane"></i></a>
            </li>
            <li>
                <span id='add_feed'><i class="far fa-plus-square"></i></span>
            </li>
            <li>
                <a href="#"><i class="far fa-compass"></i></a>
            </li>
            <li>
                <a href="#"><i class="far fa-heart"></i></a>
            </li>
            <li class="drop-down">
                <button><img src="{% get_media_prefix %}{{ user.profile_img }}"/></button>
            </li>
        </ul>
    </div>
</nav>

<!--add modal 피드 추가 부분-->
<div id="modal_add_feed" class="modal modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div class="new_feed"> 새 게시물</div>
            <div class="modal_title_side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                    close
                </span>
            </div>
        </div>
        <div class="modal_image_upload">
            <span style="text-align: center"> 사진을 여기에 끌어다 놓으세요. </span>

        </div>
    </div>
</div>

<div id="modal_add_feed_content" class="modal modal_overlay_content">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div class="new_feed"> 새 게시물</div>
            <div class="modal_title_side">
                 <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                    close
                </span>
            </div>
        </div>
        <div class="modal_image_content">
            <div id="input_image" class="modal_image_upload_content">

            </div>
            <div class="modal_content_write">
                <div class="feed_name">
                    <div class="profile_box">
                        <img id="input_profile_image" class="profile_img"
                             src="{% get_media_prefix %}{{ user.profile_img }}"/>
                    </div>
                    <span id="input_user_id" class="feed_name_txt"> {{ user.nickname }} </span>
                </div>
                <div style="height: 440px">
                    <textarea id="input_content" class="feed_content_textarea form-control col-sm-5" rows="10"
                              placeholder="설명을 입력하세요..."></textarea>
                </div>
                <div style="width: 100%; text-align: center">
                    <button id="button_write_feed" type="button" class="btn btn-primary" style="width: 268px"> 공유하기
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- nav drop down menu -->
<div class="tap hidden"></div>
<div class="drop-down__menu hidden">
    <div class="drop-down__link">
        <a href="{% url 'profile' %}"
        >
            <div>
                <span><i class="far fa-user-circle"></i></span>프로필
            </div>
        </a
        >
        <a href="#"
        >
            <div>
                <span class="bookmark"><i class="far fa-bookmark"></i></span>저장됨
            </div>
        </a
        >
        <a href="#"
        >
            <div>
                <span><i class="fas fa-cog"></i></span>설정
            </div>
        </a
        >
        <a href="#">
            <div>
                <span><i class="fas fa-sync"></i></span>계정전환
            </div>
        </a>
        <a href="{% url 'user:logout' %}">
            <div class="logout"> 로그아웃</div>
        </a>
    </div>

</div>


<main class="main">
    <!-- main__left -->
    <div class="main__left">
        <!-- Story -->
        <section id="story">
            <ul class="story__container">
                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="{% get_media_prefix %}{{ user.profile_img }}"/>
                        <div class="story__item__id">
                            <span>{{ user.nickname }}</span>
                        </div>
                    </button>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="#"/>
                    </button>
                    <div class="story__item__id">
                        <span>spongebob</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="#"/>
                    </button>
                    <div class="story__item__id">
                        <span>cinderella</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="img/mulan.webp"/>
                    </button>
                    <div class="story__item__id">
                        <span>mulan</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="img/rapunzel.webp"/>
                    </button>
                    <div class="story__item__id">
                        <span>rapunzel</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="img/snowwhite.jpeg"/>
                    </button>
                    <div class="story__item__id">
                        <span>snowwhite</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="img/elsa.jpeg"/>
                    </button>
                    <div class="story__item__id">
                        <span>winterelsa</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="img/spongebob.jpeg"/>
                    </button>
                    <div class="story__item__id">
                        <span>spongebob</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="img/cinderella.webp"/>
                    </button>
                    <div class="story__item__id">
                        <span>cinderella</span>
                    </div>
                </li>

                <li class="story__item">
                    <button class="story__item__button">
                        <img class="story__item__img" src="img/mulan.webp"/>
                    </button>
                    <div class="story__item__id">
                        <span>mulan</span>
                    </div>
                </li>
            </ul>
            <div class="right__arrow">
                <button>
                    <i class="fas fa-chevron-circle-right fa-2x"></i>
                </button>
            </div>

            <div class="left__arrow">
                <button>
                    <i class="fas fa-chevron-circle-left fa-2x"></i>
                </button>
            </div>
        </section>

        <!-- Main feed -->
        <section id="feed">
            <!-- article 1 -->
            {% for feed in feed_list %}
                <article class="article">
                    <!-- header -->
                    <header class="feed__header">
                        <div class="header__left">
                            <div class="header__image">
                                <a href="#">
                                    <img src="{% get_media_prefix %}{{ feed.profile_img }}"/>
                                </a>
                            </div>
                            <div class="header__info">
                                <a href="#" class="header__info__id">{{ feed.nickname }}</a>
                                <a href="#" class="header__info__location">{{ feed.name }}</a>
                            </div>
                        </div>
                        <div class="header__right">
                            <button>
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                        </div>
                    </header>

                    <!-- feed content -->
                    <div class="main__feed__picture">
                        <div class="feed__picture">
                            <img src="{% get_media_prefix %}{{ feed.image }}"/>
                            {#                        <button class="next__picture">#}
                            {#                            <i class="fas fa-chevron-circle-right fa-2x"></i>#}
                            {#                        </button>#}
                        </div>
                        <div class="feed__picture__dots">
                            {#                        <div class="dot"></div>#}
                            {#                        <div class="dot"></div>#}
                            {#                        <div class="dot"></div>#}
                        </div>
                    </div>

                    <!-- reaction buttons -->
                    <section class="feed__icon__reaction">
                        <button class="feed__icon favorite_icon">
                            <span id="favorite_{{ feed.id }}" feed_id="{{ feed.id }}"
                                  class="favorite material-icons-outlined" style="color: red">{% if feed.is_liked %}
                                favorite{% else %}favorite_border{% endif %}</span>
                            {#                                <i id="" class="fa fa-solid fa-heart" style="color: red"></i>#}
                            {#                               <span class="material-icons-outlined">favorite_border</span>#}

                            {#                                <span class="material-icons-outlined">favorite</span>#}
                            {#                           {% endif %}</span>#}
                        </button>
                        <button class="feed__icon">
                            <i class="far fa-comment"></i>
                        </button>
                        <button class="feed__icon">
                            <i class="far fa-paper-plane"></i>
                        </button>
                        <button class="feed__icon">
                            <span id="bookmark_{{ feed.id }}" feed_id="{{ feed.id }}"
                                  class="bookmark material-icons-outlined">
                                {% if feed.is_marked %}
                                    bookmark
                                {% else %}
                                    bookmark_border
                                {% endif %}
                            </span>
                        </button>

                    </section>

                    <!-- ___외 00명이 좋아합니다. -->
                    <section class="feed__likes">
                        <div class="feed__likes__profile__container">
                <span class="feed__likes__profile">
                  <img src="img/spongebob.jpeg"/>
                </span>
                            <span class="feed__likes__profile">
                  <img src="img/sleepingbeauty.jpeg"/>
                </span>
                            <span class="feed__likes__profile">
                  <img src="img/snowwhite.jpeg"/>
                </span>
                        </div>
                        <span class="feed__likes__number">
                <a href="#">???</a>님 <a href="#">외 <span>{{ feed.like_count }}</span>명</a>이 좋아합니다
              </span>
                    </section>

                    <!-- 글 & 코멘트 -->
                    <section class="feed__post-comment__container">
                        <div class="feed__post">
                            <span class="feed__post__id"><a><b>{{ feed.user_id }}</b></a></span>
                            <span class="feed__post__content">
                            {{ feed.content }}
                  <span class="feed__post__more">
                    <span
                    >...
                      <button>더 보기</button>
                    </span>
                  </span>
                </span>
                        </div>
                        <div class="feed__post__more-comments">
                            <a href="#">댓글 <span>31</span>개 모두 보기</a>
                        </div>
                        {% for reply in feed.reply_list %}
                            <div class="feed__comment">
                                <div class="feed__comment__left">
                                    <a href="#">{{ reply.nickname }}</a>
                                    <span>{{ reply.reply_content }}</span>
                                </div>

                                <span>
                  <button><i class="far fa-heart"></i></button>
                </span>
                            </div>
                        {% endfor %}

                    </section>

                    <!-- 댓글 창 -->
                    <section class="feed__comment-form__container">
                        <div class="feed__comment-form">
                            <div>
                                <button>
                                    <i class="far fa-smile"></i>
                                </button>
                                <input id="reply_{{ feed.id }}" class="write_reply_input" type="text"
                                       placeholder="댓글달기..."/>
                                <div class="write_reply" feed_id="{{ feed.id }}" style="color: #029aff"
                                     id="feed_create_button">게시
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                </section>
            {% endfor %}
    </div>

    <div class="main__right">
        <!-- Recommendation -->
        <section id="recommendation">
            <div class="my-profile">
                <button class="my-profile__img">
                    <img src="{% get_media_prefix %}{{ user.profile_img }}"/>
                </button>
                <div>
                    <a href="#">{{ user.nickname }}</a>
                    <br>
                    <p style="font-size: small; margin-left: 12px;">{{ user.name }}</p>
                </div>
                <button>전환</button>
            </div>
            <div class="recommendations">
                <div class="recommendation__for-you">
                    <div>회원님을 위한 추천</div>
                    <a href="#">모두 보기</a>
                </div>
                <div class="recommendation__items">
                    <!-- item 1 -->
                    <div class="recommendation__item__container">
                        <div class="recommendation__item__profile">
                            <a href="#">
                                <img src="img/mulan.webp"/>
                            </a>
                            <div class="recommendation__item__info">
                                <a href="#">mulan</a>
                                <a href="#">whitesnow님이 팔로우합니다</a>
                            </div>
                        </div>
                        <div class="recommendation__item__button">
                            <button>팔로우</button>
                        </div>
                    </div>

                    <!-- item 2 -->
                    <div class="recommendation__item__container">
                        <div class="recommendation__item__profile">
                            <a href="#">
                                <img src="img/mulan.webp"/>
                            </a>
                            <div class="recommendation__item__info">
                                <a href="#">mulan</a>
                                <a href="#">whitesnow님이 팔로우합니다</a>
                            </div>
                        </div>
                        <div class="recommendation__item__button">
                            <button>팔로우</button>
                        </div>
                    </div>
                    <div class="recommendation__item__container">
                        <div class="recommendation__item__profile">
                            <a href="#">
                                <img src="img/mulan.webp"/>
                            </a>
                            <div class="recommendation__item__info">
                                <a href="#">mulan</a>
                                <a href="#">whitesnow님이 팔로우합니다</a>
                            </div>
                        </div>
                        <div class="recommendation__item__button">
                            <button>팔로우</button>
                        </div>
                    </div>
                    <div class="recommendation__item__container">
                        <div class="recommendation__item__profile">
                            <a href="#">
                                <img src="img/mulan.webp"/>
                            </a>
                            <div class="recommendation__item__info">
                                <a href="#">mulan</a>
                                <a href="#">whitesnow님이 팔로우합니다</a>
                            </div>
                        </div>

                        <div class="recommendation__item__button">
                            <button>팔로우</button>
                        </div>
                    </div>

                    <div class="recommendation__item__container">
                        <div class="recommendation__item__profile">
                            <a href="#">
                                <img src="img/mulan.webp"/>
                            </a>
                            <div class="recommendation__item__info">
                                <a href="#">mulan</a>
                                <a href="#">whitesnow님이 팔로우합니다</a>
                            </div>
                        </div>

                        <div class="recommendation__item__button">
                            <button>팔로우</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{#            footer#}
<div class="infos">
    <ul class="infos__lists">
        <li><a class="infos__lists__link">소개</a></li>
        <li><a class="infos__lists__link">도움말</a></li>
        <li><a class="infos__lists__link">홍보 센터</a></li>
        <li><a class="infos__lists__link">API</a></li>
        <li><a class="infos__lists__link">채용 정보</a></li>
        <li><a class="infos__lists__link">개인정보처리방침</a></li>
        <li><a class="infos__lists__link">약관</a></li>
        <li><a class="infos__lists__link">위치</a></li>
        <li><a class="infos__lists__link">인기 계정</a></li>
        <li><a class="infos__lists__link">해시태그</a></li>
        <li><a class="infos__lists__link">언어</a></li>
    </ul>
    <div class="infos__rights-reserved">2022 INSTAGRAM FROM META</div>
</div>
<script>
    $(".favorite").click(function (event) {
        let feed_id = event.target.attributes.getNamedItem('feed_id').value;
        let favorite_id = event.target.id;
        console.log(favorite_id)
        let favorite_text = $.trim($('#' + favorite_id).html());
        if (favorite_text == 'favorite') {
            $('#' + favorite_id).html('favorite_border');
        } else {
            $('#' + favorite_id).html('favorite');
        }
        $.ajax({
            url: "/content/like",
            data: {
                favorite_text: favorite_text,
                feed_id: feed_id
            },
            method: "POST",
            dataType: "json",
            async: false,
            success: function (data) {
                console.log("성공");


            },
            error: function (request, status, error) {
                console.log("완료");
            },
            complete: function () {
                console.log("완료");
            }
        });
    })

    $(".bookmark").click(function (event) {
        let feed_id = event.target.attributes.getNamedItem('feed_id').value;
        let bookmark_id = event.target.id;
        let bookmark_text = $.trim($('#' + bookmark_id).html());
        if (bookmark_text == 'bookmark') {
            $('#' + bookmark_id).html('bookmark_border');
        } else {
            $('#' + bookmark_id).html('bookmark');
        }
        $.ajax({
            url: "/content/bookmark",
            data: {
                feed_id: feed_id,
                bookmark_text: bookmark_text,
            },
            method: "POST",
            success: function (data) {
                console.log("성공");


            },
            error: function (request, status, error) {
                console.log("완료");
            },
            complete: function () {
                console.log("완료");
            }
        });
    })


    $(".write_reply").click(function () {
        console.log($(this).prev().val());
        console.log($(this).attr('feed_id'));
        let success = false;
        let reply_content = $(this).prev().val();
        let feed_id = Number($(this).attr('feed_id'));

        if (reply_content.length <= 0) {
            alert('댓글을 입력하세요')
            return 0;
        }

        $.ajax({
            url: "/content/replycreate",
            data: {
                email: '{{ user.email }}',
                user_id: '{{ user.user_id }}',
                reply_content: reply_content,
                feed_id: feed_id
            },
            method: "POST",
            dataType: "json",
            async: false,
            success: function (data) {
                success = true
                $("reply_list_" + feed_id).append('<div class="feed__comment"><div class="feed__comment__left"><a href="#">{{ reply.nickname }}</a><span>{{ reply.reply_content}}</span> </div>');
                location.replace('/content')

            },
            error: function (request, status, error) {
                let data = JSON.parse(request.responseText);
                console.log(data.message);
                alert(data.message);
            }
        });
        console.log(success)
        if (success == true) {
            $(this).parent().prev().append('<span class="feed_txt"><b> {{ user.user_id }} </b> ' + content + ' </span>');
            $('.write_reply_input').val('');
        }
    });

</script>

<!-- Optional JavaScript; choose one of the two! -->
<script src="https://kit.fontawesome.com/b2df5a4a7b.js" crossorigin="anonymous"></script>

</body>
</html>
