<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- JS -->
    <!-- title -->
    <title>Instagram team project</title>
  </head>

  <body>
    <!-- nav -->
    <nav class="nav"></nav>

    <!-- main -->
    <main class="main">
      <div class="main-profile">
        <!--  main-header -->
        <header class="main-profile__header">
          <!--  main-header-img-->
          <div class="main-profile__header__img">
            <img src="/img/star.png" alt="profile img" />
          </div>
          <!--  main-header-section-->
          <section class="main-profile__header__section">
            <div class="section__profile-user">
              <h2 class="user-data__id">coding_star</h2>
              <div class="user-data__profile-edit">
                <a class="user-data__profile-edit__link" href="#"
                  >프로필 편집</a
                >
              </div>
              <div class="user-data__setting">
                <button class="user-data__setting__btn">
                  <svg
                    aria-label="user-data__setting__btn-svg"
                    class="_8-yf5"
                    color="#262626"
                    fill="#262626"
                    height="24"
                    role="img"
                    viewBox="0 0 24 24"
                    width="24"
                  >
                    <circle
                      cx="12"
                      cy="12"
                      fill="none"
                      r="8.635"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    ></circle>
                    <path
                      d="M14.232 3.656a1.269 1.269 0 01-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 01-.796.66m-.001 16.688a1.269 1.269 0 01.796.66l.505.996h1.862l.505-.996a1.269 1.269 0 01.796-.66M3.656 9.768a1.269 1.269 0 01-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 01.66.796m16.688-.001a1.269 1.269 0 01.66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 01-.66-.796M7.678 4.522a1.269 1.269 0 01-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 01-.096 1.03m11.8 11.799a1.269 1.269 0 011.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 01.096-1.03m-14.956.001a1.269 1.269 0 01.096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 011.03.096m11.799-11.8a1.269 1.269 0 01-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 01-1.03-.096"
                      fill="none"
                      stroke="currentColor"
                      stroke-linejoin="round"
                      stroke-width="2"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="section__profile-follow">
              <ul class="section__profile-follow__list">
                <li class="follow-data">
                  <span class="follow-data__post">게시물</span>
                  <span class="follow-data__post-num">6</span>
                </li>
                <li class="follow-data">
                  <a class="follow-data__follower" href="#">
                    <span class="a">팔로워</span>
                    <span class="a">10</span>
                  </a>
                </li>
                <li class="follow-data">
                  <a class="follow-data__follow" href="#">
                    <span class="a">팔로우</span>
                    <span class="a">12</span>
                  </a>
                </li>
              </ul>
              <div class="section__profile-name">코딩스타</div>
            </div>
          </section>
        </header>

        <!-- Add header__buttom-text -->

        <div class="header__buttom-text">코딩스타</div>
        <!-- post-bar -->
        <div class="main-profile__post-bar">
          <a href="index.html" class="post-bar__tab">
            <span class="post-bar__tab__post">
              <svg
                aria-label=""
                class="post-bar__tab__post-icon"
                color="#262626"
                fill="#262626"
                height="12"
                role="img"
                viewBox="0 0 24 24"
                width="12"
              >
                <rect
                  fill="none"
                  height="18"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  width="18"
                  x="3"
                  y="3"
                ></rect>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="9.015"
                  x2="9.015"
                  y1="3"
                  y2="21"
                ></line>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="14.985"
                  x2="14.985"
                  y1="3"
                  y2="21"
                ></line>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="21"
                  x2="3"
                  y1="9.015"
                  y2="9.015"
                ></line>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="21"
                  x2="3"
                  y1="14.985"
                  y2="14.985"
                ></line>
              </svg>
              <span class="post-bar__tab__post-name">게시물</span>
            </span>
          </a>
          <a href="post-saved.html" class="post-bar__tab selected">
            <span class="post-bar__tab__post">
              <svg
                aria-label=""
                class="post-bar__tab__post-icon"
                color="#8e8e8e"
                fill="#8e8e8e"
                height="12"
                role="img"
                viewBox="0 0 24 24"
                width="12"
              >
                <polygon
                  fill="none"
                  points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></polygon>
              </svg>
              <span class="post-bar__tab__post-name">저장됨</span>
            </span>
          </a>
          <a href="post-tagged.html" class="post-bar__tab">
            <span class="post-bar__tab__post">
              <svg
                aria-label=""
                class="post-bar__tab__post-icon"
                color="#8e8e8e"
                fill="#8e8e8e"
                height="12"
                role="img"
                viewBox="0 0 24 24"
                width="12"
              >
                <path
                  d="M10.201 3.797L12 1.997l1.799 1.8a1.59 1.59 0 001.124.465h5.259A1.818 1.818 0 0122 6.08v14.104a1.818 1.818 0 01-1.818 1.818H3.818A1.818 1.818 0 012 20.184V6.08a1.818 1.818 0 011.818-1.818h5.26a1.59 1.59 0 001.123-.465z"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></path>
                <path
                  d="M18.598 22.002V21.4a3.949 3.949 0 00-3.948-3.949H9.495A3.949 3.949 0 005.546 21.4v.603"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></path>
                <circle
                  cx="12.072"
                  cy="11.075"
                  fill="none"
                  r="3.556"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></circle>
              </svg>
              <span class="post-bar__tab__post-name">태그됨</span>
            </span>
          </a>
        </div>

        <!-- main article -->
        <article class="main-article">
          <div class="main-article__posts">
            <a
              class="post-img"
              href="#"
              title="post1"
              style="
                background-image: url('https://tumblbug-pci.imgix.net/b83681fdb4beb14d5cb7655445cf667cd291db8d/d5fa3d7a4fbd1f09ed409b5fb44f0ec1fc681828/6b6f1b445e9ac02f012119ffababcd9bef6bce4c/5086abe2-d6b1-46a1-bee7-fa2f6f6d5f3c.jpg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=43de63172b8199516d9a8cd899535674');
              "
            ></a>
            <a
              class="post-img"
              href="#"
              title="post2"
              style="
                background-image: url('https://tumblbug-pci.imgix.net/b83681fdb4beb14d5cb7655445cf667cd291db8d/d5fa3d7a4fbd1f09ed409b5fb44f0ec1fc681828/6b6f1b445e9ac02f012119ffababcd9bef6bce4c/5086abe2-d6b1-46a1-bee7-fa2f6f6d5f3c.jpg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=43de63172b8199516d9a8cd899535674');
              "
            ></a>
            <a
              class="post-img"
              href="#"
              title="post3"
              style="
                background-image: url('https://tumblbug-pci.imgix.net/b83681fdb4beb14d5cb7655445cf667cd291db8d/d5fa3d7a4fbd1f09ed409b5fb44f0ec1fc681828/6b6f1b445e9ac02f012119ffababcd9bef6bce4c/5086abe2-d6b1-46a1-bee7-fa2f6f6d5f3c.jpg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=43de63172b8199516d9a8cd899535674');
              "
            ></a>
            <a
              class="post-img"
              href="#"
              title="post4"
              style="
                background-image: url('https://t1.daumcdn.net/cfile/tistory/9961D63D5DE768E90A');
              "
            ></a>
            <a
              class="post-img"
              href="#"
              title="post4"
              style="
                background-image: url('https://t1.daumcdn.net/cfile/tistory/9961D63D5DE768E90A');
              "
            ></a>
            <a
              class="post-img"
              href="#"
              title="post4"
              style="
                background-image: url('https://t1.daumcdn.net/cfile/tistory/9961D63D5DE768E90A');
              "
            ></a>
          </div>
        </article>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="main-footer">
        <ul class="footer-top">
          <a href="#" class="footer-top__link"><li>Meta</li></a>
          <a href="#" class="footer-top__link"><li>소개</li></a>
          <a href="#" class="footer-top__link"><li>블로그</li></a>
          <a href="#" class="footer-top__link"><li>채용 정보</li></a>
          <a href="#" class="footer-top__link"><li>도움말</li></a>
          <a href="#" class="footer-top__link"><li>API</li></a>
          <a href="#" class="footer-top__link"><li>개인정보처리방침</li></a>
          <a href="#" class="footer-top__link"><li>약관</li></a>
          <a href="#" class="footer-top__link"><li>인기 계정</li></a>
          <a href="#" class="footer-top__link"><li>해시태그</li></a>
          <a href="#" class="footer-top__link"><li>위치</li></a>
          <a href="#" class="footer-top__link"><li>Instagram Lite</li></a>
        </ul>
        <div class="footer-bottom">
          <a href="#" class="footer-bottom__link"
            ><span class="footer-bottom__language">한국어</span>
            <i class="fas fa-chevron-down"></i>
          </a>
          <a href="#" class="footer-bottom__link">
            <span class="footer-bottom__meta">2022 Instagram from Meta</span></a
          >
        </div>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
