/* main article */
.main-article {
  max-width: 935px;
  width: 100%;
}

.main-article__posts {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  flex-wrap: wrap;
}

.main-article__posts .post-img {
  /* width: 33%; */
  height: 30vw;
  width: calc(33.3% - 2px);
  background-position: center;
  background-size: cover;
  margin-bottom: 3px;
}

.main-article__posts .post-img:hover::after {
  content: "";
  display: flex;
  position: absolute;
  height: 30vw;
  width: calc(33.3% - 2px);
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 736px) {
  .main-article__posts .post-img {
    max-height: 293px;
    height: 30vw;
    width: calc(33.3% - 20px);
    margin-bottom: 30px;
  }

  .main-article__posts {
    margin-bottom: 0px;
  }

  .main-article__posts .post-img:hover::after {
    content: "";
    max-height: 293px;
    height: 30vw;
    width: calc(33.3% - 20px);
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
