/* main-header */
.main {
  padding: 30px 20px 0 20px;
  margin: 0 auto;
  max-width: 935px;
}

.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
/* 프로필 상단 헤더 */
.main-profile__header {
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: row;
  margin-bottom: 28px;
}

.main-profile__header__img {
  max-width: 291px;
  width: 35vw;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.main-profile__header__img img {
  border-radius: 50%;
}

.main-profile__header__section {
  width: 65vw;
}

/* 프로필 헤더내 유저프로필  */
.section__profile-user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-data__id {
  font-size: 32px;
}

.user-data__profile-edit {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user-data__profile-edit__link {
  padding: 7px 10px;
  border: 1px solid var(--color-gray2);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.user-data__setting {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 0 4px;
  font-size: 20px;
}

.user-data__setting__btn {
  border: none;
  background: transparent;
  appearance: none;
}

.section__profile-follow__list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.section__profile-follow__list .follow-data {
  margin-right: 40px;
}

.follow-data span:nth-child(2) {
  font-weight: 700;
}

.section__profile-name {
  font-weight: 500;
}

/* Add */
.header__buttom-text {
  visibility: hidden;
}

@media screen and (max-width: 736px) {
  .main {
    padding: 0;
  }

  .main-profile__header {
    height: 110px;
    margin: 16px;
    margin-bottom: 0;
  }

  .main-profile__header__img {
    max-width: 110px;
    display: flex;
    justify-content: start;
    margin-right: 0px;
    margin-left: 16px;
    max-height: 100px;
  }
  .main-profile__header__img img {
    width: 77px;
    height: 77px;
  }

  .section__profile-user {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
  }

  .user-data__id {
    font-size: 32px;
    text-align: center;
  }

  .user-data__profile-edit {
    display: flex;
    align-items: center;
    order: 1;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
  }

  .user-data__profile-edit__link {
    padding: 7px 88px;
  }

  .section__profile-follow {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
  }

  /* .section__profile-follow__list {
    order: 1;
  } */

  .section__profile-name {
    font-weight: 500;
    width: 100%;
  }

  .header__buttom-text {
    display: flex;
    justify-content: flex-start;
    visibility: visible;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 32px;
  }
}
